<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.9 2008/03/31 06:05:30 terui Exp $
-->

<plugin>

	<extension-point id="wrapperfactory" name="%WrapperFactory" schema="schema/wrapperfactory.exsd"/>	
	<extension-point id="propertysheetpageextentionpoint" name="%propertysheetpageextentionpoint" schema="schema/propertysheetpageextentionpoint.exsd"/>
	<extension-point id="openViews" name="%openviews" schema="schema/openviews.exsd"/>
 	<extension-point id="validations" name="%validations" schema="schema/validations.exsd"/>
	<extension-point id="portconnectorfactory" name="PortConnectorFactory" schema="schema/portconnectorfactory.exsd"/>
	<extension-point id="loadcomponent" name="LoadComponent" schema="schema/loadcomponent.exsd"/>

	<extension point="org.eclipse.emf.ecore.generated_package">
   		<package uri = "http://rtm.aist.go.jp/toolscommon/model/core" 
   			class = "jp.go.aist.rtm.toolscommon.model.core.CorePackage" /> 
   		<package uri = "http://rtm.aist.go.jp/toolscommon/model/component" 
   			class="jp.go.aist.rtm.toolscommon.model.component.ComponentPackage"/>
   		<package uri = "http://rtm.aist.go.jp/toolscommon/model/manager" 
   			class="jp.go.aist.rtm.toolscommon.model.manager.ManagerPackage"/>
	</extension>
	<extension point="jp.go.aist.rtm.toolscommon.wrapperfactory">
		<mappingrule seq="200"  mappingrule="jp.go.aist.rtm.toolscommon.model.component.impl.CorbaConnectorProfileImpl.MAPPING_RULE"/>
		<mappingrule seq="300"  mappingrule="jp.go.aist.rtm.toolscommon.model.component.impl.CorbaPortSynchronizerImpl.MAPPING_RULE"/>
		<mappingrule seq="400"  mappingrule="jp.go.aist.rtm.toolscommon.model.component.impl.CorbaConfigurationSetImpl.MAPPING_RULE"/>
		<mappingrule seq="1300" mappingrule="jp.go.aist.rtm.toolscommon.model.component.impl.CorbaComponentImpl.MAPPING_RULE"/>
		<mappingrule seq="1310" mappingrule="jp.go.aist.rtm.toolscommon.model.component.impl.ComponentSpecificationImpl.MAPPING_RULE"/>
		<mappingrule seq="1700" mappingrule="jp.go.aist.rtm.toolscommon.model.component.impl.CorbaExecutionContextImpl.MAPPING_RULE"/>
		<mappingrule seq="1800" mappingrule="jp.go.aist.rtm.toolscommon.model.manager.impl.RTCManagerImpl.MAPPING_RULE"/>
	</extension>

	<extension point="jp.go.aist.rtm.toolscommon.propertysheetpageextentionpoint">
		<propertysheetpage displayclass="jp.go.aist.rtm.toolscommon.model.component.Component"/>
		<propertysheetpage displayclass="jp.go.aist.rtm.toolscommon.model.component.PortConnector"/>
		<propertysheetpage displayclass="jp.go.aist.rtm.toolscommon.model.component.SystemDiagram"/>
		<propertysheetpage displayclass="jp.go.aist.rtm.toolscommon.model.manager.RTCManager"/>
	</extension>

	<extension  point="org.eclipse.core.runtime.adapters">
     <factory
            class="jp.go.aist.rtm.toolscommon.adapterfactory.WorkbenchAdapterFactory"
            adaptableType="jp.go.aist.rtm.toolscommon.model.component.PortConnector">
                <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
     </factory>
     <factory
            class="jp.go.aist.rtm.toolscommon.adapterfactory.WorkbenchAdapterFactory"
            adaptableType="jp.go.aist.rtm.toolscommon.model.component.Component">
                <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
     </factory>
     <factory
            class="jp.go.aist.rtm.toolscommon.adapterfactory.WorkbenchAdapterFactory"
            adaptableType="jp.go.aist.rtm.toolscommon.model.component.Port">
                <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
     </factory>
     <!--
     <factory
            class="jp.go.aist.rtm.toolscommon.adapterfactory.WorkbenchAdapterFactory"
            adaptableType="jp.go.aist.rtm.toolscommon.model.component.LifeCycleState">
                <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
     </factory>
     -->
     <factory    
            class="jp.go.aist.rtm.toolscommon.adapterfactory.WorkbenchAdapterFactory"
            adaptableType="jp.go.aist.rtm.toolscommon.model.component.PortInterfaceProfile">
                <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
     </factory>
     <factory
            class="jp.go.aist.rtm.toolscommon.adapterfactory.WorkbenchAdapterFactory"
            adaptableType="jp.go.aist.rtm.toolscommon.model.component.ExecutionContext">
                <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
     </factory>
     <factory
            class="jp.go.aist.rtm.toolscommon.adapterfactory.WorkbenchAdapterFactory"
            adaptableType="jp.go.aist.rtm.toolscommon.model.component.ContextHandler">
                <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
     </factory>
     <factory
            class="jp.go.aist.rtm.toolscommon.adapterfactory.WorkbenchAdapterFactory"
            adaptableType="jp.go.aist.rtm.toolscommon.model.component.CorbaObserver">
                <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
     </factory>
     <factory
            class="jp.go.aist.rtm.toolscommon.adapterfactory.WorkbenchAdapterFactory"
            adaptableType="jp.go.aist.rtm.toolscommon.model.component.SystemDiagram">
                <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
     </factory>
     <factory
            class="jp.go.aist.rtm.toolscommon.adapterfactory.WorkbenchAdapterFactory"
            adaptableType="jp.go.aist.rtm.toolscommon.model.manager.RTCManager">
                <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
     </factory>
    </extension>
    <!--
	<extension point = "org.eclipse.ui.actionSets"> 
		<actionSet
			id="jp.go.aist.rtm.toolscommon.ui.actionSet" 
			label="RT Tools Common Actions">
			<action
				id="jp.go.aist.rtm.toolscommon.ui.action.AboutRtcLinkAction" 
				label="&amp;About RT Tools Common"
				menubarPath="help/AboutRTTC"
				icon="icons/RT.png"
				tooltip="About RT Tools Common" 
				class="jp.go.aist.rtm.toolscommon.ui.action.AboutRtcLinkAction"> 
			</action>
		</actionSet>
	</extension>
	-->
	<!--
	<extension
		point = "org.eclipse.ui.preferencePages">
		<page
			id="jp.go.aist.rtm.toolscommon.ui.preference.MainPreferencePage"
			class="jp.go.aist.rtm.toolscommon.ui.preference.MainPreferencePage"
			name="RT System Editor">
		</page>
		<page
			id="jp.go.aist.rtm.systemeditor.ui.preference.SynchronizationPreferencePage"
			class="jp.go.aist.rtm.toolscommon.ui.preference.SynchronizationPreferencePage"
			name="同期"
			category="jp.go.aist.rtm.toolscommon.ui.preference.MainPreferencePage">
		</page>
	</extension>
	-->
	
</plugin>
