<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="jp.go.aist.rtm.rtcbuilder.generateManager">
      <manager
            managerclass="jp.go.aist.rtm.rtcbuilder.vbdotnet.manager.VbDotNetGenerateManager"
            seq="200"/>
   </extension>

</plugin>
