<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2007/12/25 05:43:00 tsakamoto Exp $
-->

<plugin>
  <extension-point id="generateManager" name="Language Manager" schema="schema/generateManager.exsd"/>
  <extension-point id="editorExtension" name="EditorExtension" schema="schema/editorExtension.exsd"/>
  <extension-point id="addFormPageExtension" name="AddFormPageExtension" schema="schema/addFormPageExtension.exsd"/>
  <extension-point id="exportExtension" name="Export Extension" schema="schema/exportExtension.exsd"/>
  <extension-point id="importExtension" name="Import Extension" schema="schema/importExtension.exsd"/>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///jp/go/aist/rtm/rtcbuilder/model/component.ecore" 
       class = "jp.go.aist.rtm.rtcbuilder.model.component.ComponentPackage"
       genModel = "src/jp/go/aist/rtm/rtcbuilder/model/RTC.genmodel" /> 
  </extension>
  <extension
        point="org.eclipse.ui.editors">
     <editor
           class="jp.go.aist.rtm.rtcbuilder.ui.editors.RtcBuilderEditor"
           default="true"
           icon="icons/RTCBuilder.png"
           id="jp.go.aist.rtm.rtcbuilder.ui.editors.RtcBuilderEditor"
           name="%RtcBuilderEditorName">
        <contentTypeBinding contentTypeId="jp.go.aist.rtm.rtcbuilder.rtcProfile"/>
     </editor>
  </extension>
  <extension
        point="org.eclipse.ui.actionSets">
     <actionSet
           id="jp.go.aist.rtm.rtcbuilder.ui.actionSet"
           label="RTC Builder Actions">
			<action
				id="jp.go.aist.rtm.rtcbuilder.ui.action.NewRtcBuilderEditorAction" 
				label="%NewRtcBuilderEditorActionLabel"
				menubarPath="file/RtcBuilderGroup" 
				toolbarPath="RtcBuilder"
				icon="icons/RtcBuilderL.png" 
				tooltip="%NewRtcBuilderEditorActionToolTip" 
				class="jp.go.aist.rtm.rtcbuilder.ui.action.NewRtcBuilderEditorAction"> 
			</action>
		</actionSet>
  </extension>
  <extension
        point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension targetID="jp.go.aist.rtm.rtclink.ui.perspective.RtcLinkPerspective">
		<actionSet id="jp.go.aist.rtm.rtcbuilder.ui.actionSet"/> 
	</perspectiveExtension>
  </extension>
  <extension
        point="org.eclipse.ui.views">
     <category
           id="OpenRTP"
           name="%viewCategoryName"/>
     <view
           allowMultiple="false"
           category="OpenRTP"
           class="jp.go.aist.rtm.rtcbuilder.ui.ComponentBuildView"
           icon="icons/buildView.png"
           id="jp.go.aist.rtm.rtcbuilder.buildeview"
           name="%buildeviewName"/>
  </extension>
  <extension
        point="org.eclipse.ui.newWizards">
     <category
           id="jp.go.aist.rtm.rtcbuilder.ui.wizard"
           name="%wizardCategoryName"/>
     <wizard
           class="jp.go.aist.rtm.rtcbuilder.ui.NewWizard"
           finalPerspective="jp.go.aist.rtm.rtcbuilder.ui.perspective"
           icon="icons/RTCBuilder.png"
           id="jp.go.aist.rtm.rtcbuilder.ui.wizard"
           name="%wizardName"
           project="true"/>
  </extension>
  <extension
        point="org.eclipse.ui.perspectives">
     <perspective
           class="jp.go.aist.rtm.rtcbuilder.ui.Perspective.RtcBuilderPerspectiveFactory"
           icon="icons/RtcBuilderL.png"
           id="jp.go.aist.rtm.rtcbuilder.ui.perspective"
           name="%perspectiveName"/>
  </extension>
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           class="jp.go.aist.rtm.rtcbuilder.ui.preference.RtcBuilderPreferencePage"
           id="jp.go.aist.rtm.rtcbuilder.ui.preferencePage"
           name="%preferecePagesName"/>
     <page
           category="jp.go.aist.rtm.rtcbuilder.ui.preferencePage"
           class="jp.go.aist.rtm.rtcbuilder.ui.preference.CodeGeneratePreferencePage"
           id="jp.go.aist.rtm.rtcbuilder.ui.preferencePage.codeGenerate"
           name="%preferecePagesCodeGenerateName"/>
     <page
           category="jp.go.aist.rtm.rtcbuilder.ui.preferencePage.codeGenerate"
           class="jp.go.aist.rtm.rtcbuilder.ui.preference.ConfigPreferencePage"
           id="jp.go.aist.rtm.rtcbuilder.ui.preferencePage.codeGenerate.Configuration"
           name="%preferecePagesConfigurationName"/>
     <page
           category="jp.go.aist.rtm.rtcbuilder.ui.preferencePage.codeGenerate"
           class="jp.go.aist.rtm.rtcbuilder.ui.preference.CodeGeneratePortPreferencePage"
           id="jp.go.aist.rtm.rtcbuilder.ui.preferencePage.codeGenerate.Ports"
           name="%preferecePagesPortsName"/>
     <page
           category="jp.go.aist.rtm.rtcbuilder.ui.preferencePage.codeGenerate"
           class="jp.go.aist.rtm.rtcbuilder.ui.preference.DocumentPreferencePage"
           id="jp.go.aist.rtm.rtcbuilder.ui.preferencePage.codeGenerate.Document"
           name="%preferecePagesDocumentName"/>
  </extension>
  <extension
        point="org.eclipse.core.runtime.contentTypes">
     <content-type
           base-type="org.eclipse.core.runtime.xml"
           file-names="RTC.xml"
           id="rtcProfile"
           name="%rtcProfileName"
           priority="high">
        <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
           <parameter name="element" value="RtcProfile"/>
        </describer>
     </content-type>
  </extension>

</plugin>

