<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="jp.go.aist.rtm.rtcbuilder.rcp.RtcBuilderApplication">
         </run>
      </application>
   </extension>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="jp.go.aist.rtm.rtcbuilder.RCP.application"
            name="RtcBuilder RCP">
         <property
               name="aboutText"
               value="%aboutText"/>
         <property
               name="appName"
               value="RtcBuilder RCP">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="windowImages"
               value="icons/RTCBuilder.png">
         </property>
      </product>
   </extension>

</plugin>
