<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension-point id="editpartfactory" name="EditPartFactory" schema="schema/editpartfactory.exsd"/>
	<extension-point id="createconnectorprofile" name="CreateConnectorProfile" schema="schema/createconnectorprofile.exsd"/>
	<extension-point id="createcomponentcommand" name="CreateComponentCommand" schema="schema/createcomponentcommand.exsd"/>
	<extension-point id="saveprofile" name="SaveProfile" schema="schema/saveprofile.exsd"/>
	<extension-point id="loadprofile" name="LoadProfile" schema="schema/loadprofile.exsd"/>
	<extension-point id="rehabilitatecomponent" name="RehabilitateComponent" schema="schema/rehabilitatecomponent.exsd"/>
	<extension-point id="createcompositecomponent" name="CreateCompositeComponent" schema="schema/createcompositecomponent.exsd"/>

   <!--extension point="org.eclipse.emf.ecore.generated_package">
      <package uri="http://rtm.aist.go.jp/systemeditor/model/systemeditor" class="jp.go.aist.rtm.toolscommon.model.component.ComponentPackage"/>
   </extension -->

	<extension point="jp.go.aist.rtm.systemeditor.editpartfactory">
		<editpart seq="100" targetclass="jp.go.aist.rtm.toolscommon.model.component.InPort" editpartclass="jp.go.aist.rtm.systemeditor.ui.editor.editpart.InPortEditPart" />
		<editpart seq="200" targetclass="jp.go.aist.rtm.toolscommon.model.component.OutPort" editpartclass="jp.go.aist.rtm.systemeditor.ui.editor.editpart.OutPortEditPart" />
		<editpart seq="300" targetclass="jp.go.aist.rtm.toolscommon.model.component.ServicePort" editpartclass="jp.go.aist.rtm.systemeditor.ui.editor.editpart.ServicePortEditPart" />
		<editpart seq="400" targetclass="jp.go.aist.rtm.toolscommon.model.component.PortConnector" editpartclass="jp.go.aist.rtm.systemeditor.ui.editor.editpart.PortConnectorEditPart" />
		<editpart seq="500" targetclass="jp.go.aist.rtm.toolscommon.model.component.Component" editpartclass="jp.go.aist.rtm.systemeditor.ui.editor.editpart.ComponentEditPart" />
		<editpart seq="600" targetclass="jp.go.aist.rtm.toolscommon.model.component.SystemDiagram" editpartclass="jp.go.aist.rtm.systemeditor.ui.editor.editpart.SystemDiagramEditPart" />
	</extension>

    <extension point="org.eclipse.ui.perspectives">
        <perspective 
            id="jp.go.aist.rtm.systemeditor.ui.perspective.RtcLinkPerspective" 
            name="%RT_System_Editor" 
            class="jp.go.aist.rtm.toolscommon.ui.perspective.RtcLinkPerspective" 
            icon="icons/RT.png"> 
        </perspective> 
    </extension> 
	<extension
		point="org.eclipse.ui.editors">
		<editor
			name="%System_Editor"
			contributorClass="jp.go.aist.rtm.systemeditor.ui.editor.SystemDiagramEditorContributor"
			icon="icons/on.png"
			extensions="xml"
			class="jp.go.aist.rtm.systemeditor.ui.editor.SystemDiagramEditor"
			id="jp.go.aist.rtm.systemeditor.ui.editor.SystemDiagramEditor">
		</editor>
		<editor
			name="%Offline_System_Editor"
			contributorClass="jp.go.aist.rtm.systemeditor.ui.editor.SystemDiagramEditorContributor"
			icon="icons/off.png"
			extensions="xml"
			class="jp.go.aist.rtm.systemeditor.ui.editor.OfflineSystemDiagramEditor"
			id="jp.go.aist.rtm.systemeditor.ui.editor.OfflineSystemDiagramEditor">
		</editor>
	</extension>

	<extension
		point="org.eclipse.ui.views">
		<category
			name="%RT_System_Editor"
			id="rtse">
		</category>
		<view
			name="%Configuration_View"
			icon="icons/Configuration.gif"
			category="rtse"
			class="jp.go.aist.rtm.systemeditor.ui.views.configurationview.ConfigurationView"
			id="jp.go.aist.rtm.systemeditor.ui.views.configurationview.ConfigurationView">
		</view>
		<view
			name="%Manager_Control_View"
			icon="icons/RT_icon.png"
			category="rtse"
			class="jp.go.aist.rtm.systemeditor.ui.views.managercontrolview.ManagerControlView"
			id="jp.go.aist.rtm.systemeditor.ui.views.managercontrolview.ManagerControlView">
		</view>
		<view
			name="%Composite_Component_View"
			icon="icons/RT_icon.png"
			category="rtse"
			class="jp.go.aist.rtm.systemeditor.ui.views.compositecomponentview.CompositeComponentView"
			id="jp.go.aist.rtm.systemeditor.ui.views.compositecomponentview.CompositeComponentView">
		</view>
		<view
			name="%ExecutionContext_View"
			icon="icons/RT_icon.png"
			category="rtse"
			class="jp.go.aist.rtm.systemeditor.ui.views.executioncontextview.ExecutionContextView"
			id="jp.go.aist.rtm.systemeditor.ui.views.executioncontextview.ExecutionContextView">
		</view>
		<view
			name="%RT_Log_View"
			icon="icons/RT_icon.png"
			category="rtse"
			class="jp.go.aist.rtm.systemeditor.ui.views.logview.LogView"
			id="jp.go.aist.rtm.systemeditor.ui.views.logview.LogView">
		</view>
	</extension>
	
	<extension
		point="org.eclipse.ui.editorActions">
		<editorContribution
			targetID="jp.go.aist.rtm.systemeditor.ui.editor.SystemDiagramEditor"
			id="jp.go.aist.rtm.systemeditor.ui.editor.SystemDiagramEditor.editorActions">
			<action id="jp.go.aist.rtm.systemeditor.ui.action.AllComponentActionDelegate.AllStop" 
				label="%All_Stop" 
				toolbarPath="additions" 
				icon="icons/AllStop.gif" 
				tooltip="%All_Stop" 
				helpContextId=""
				class="jp.go.aist.rtm.systemeditor.ui.action.AllComponentActionDelegate"> 
			</action>
			<action id="jp.go.aist.rtm.systemeditor.ui.action.AllComponentActionDelegate.AllStart" 
				label="%All_Start" 
				toolbarPath="additions" 
				icon="icons/AllStart.gif" 
				tooltip="%All_Start" 
				helpContextId=""
				class="jp.go.aist.rtm.systemeditor.ui.action.AllComponentActionDelegate"> 
			</action>
			<action id="jp.go.aist.rtm.systemeditor.ui.action.AllComponentActionDelegate.AllDeactivate" 
				label="%All_Deactivate" 
				toolbarPath="additions" 
				icon="icons/AllDeactivate.gif" 
				tooltip="%All_Deactivate" 
				helpContextId=""
				class="jp.go.aist.rtm.systemeditor.ui.action.AllComponentActionDelegate"> 
			</action>
			<action id="jp.go.aist.rtm.systemeditor.ui.action.AllComponentActionDelegate.AllActivate" 
				label="%All_Activate" 
				toolbarPath="additions" 
				icon="icons/AllActivate.gif" 
				tooltip="%All_Activate" 
				helpContextId=""
				class="jp.go.aist.rtm.systemeditor.ui.action.AllComponentActionDelegate"> 
			</action>	         
		</editorContribution>
		<!--
		<editorContribution
			targetID="jp.go.aist.rtm.systemeditor.ui.editor.OfflineSystemDiagramEditor"
			id="jp.go.aist.rtm.systemeditor.ui.editor.OfflineSystemDiagramEditor.editorActions">
			<action id="jp.go.aist.rtm.systemeditor.ui.action.AllComponentActionDelegate.AllStop" 
				label="Refresh Offline System Editor" 
				toolbarPath="additions" 
				icon="icons/Refresh.png"
				tooltip="Refresh Offline System Editor"
				class="jp.go.aist.rtm.systemeditor.ui.editor.action.RefreshOfflineSystemDiagramEditorAction"> 
			</action>
		</editorContribution>
		-->
	</extension>
	
    <extension  point="org.eclipse.core.runtime.adapters">
        <factory    
            class="jp.go.aist.rtm.systemeditor.adapterfactory.AdapterFactory"
            adaptableType="jp.go.aist.rtm.systemeditor.ui.editor.editpart.ComponentEditPart">
                <adapter type="jp.go.aist.rtm.toolscommon.model.component.Component"/>
        </factory>
    </extension>

	<extension
		point="org.eclipse.ui.popupMenus">
		<viewerContribution
			id="jp.go.aist.rtm.systemeditor.ui.editor.SystemDiagramEditor.contribution" 
			targetID="jp.go.aist.rtm.systemeditor.ui.editor.SystemDiagramEditor">
			<action id="jp.go.aist.rtm.systemeditor.ui.action.AllComponentActionDelegate.AllStop" 
				label="%All_Stop" 
				menubarPath="all"
				icon="icons/AllStop.gif" 
				tooltip="%All_Stop"
				helpContextId=""
				class="jp.go.aist.rtm.systemeditor.ui.action.AllComponentActionDelegate"> 
			</action>
			<action id="jp.go.aist.rtm.systemeditor.ui.action.AllComponentActionDelegate.AllStart" 
				label="%All_Start" 
				menubarPath="all"
				icon="icons/AllStart.gif" 
				tooltip="%All_Start" 
				helpContextId=""
				class="jp.go.aist.rtm.systemeditor.ui.action.AllComponentActionDelegate"> 
			</action>
			<action id="jp.go.aist.rtm.systemeditor.ui.action.AllComponentActionDelegate.AllDeactivate" 
				label="%All_Deactivate" 
				menubarPath="all"
				icon="icons/AllDeactivate.gif" 
				tooltip="%All_Deactivate" 
				helpContextId=""
				class="jp.go.aist.rtm.systemeditor.ui.action.AllComponentActionDelegate"> 
			</action>
			<action id="jp.go.aist.rtm.systemeditor.ui.action.AllComponentActionDelegate.AllActivate" 
				label="%All_Activate" 
				menubarPath="all"
				icon="icons/AllActivate.gif" 
				tooltip="%All_Activate" 
				helpContextId=""
				class="jp.go.aist.rtm.systemeditor.ui.action.AllComponentActionDelegate"> 
			</action>	
		</viewerContribution>
		
		<viewerContribution
			id="jp.go.aist.rtm.systemeditor.ui.editor.SystemDiagramEditor.combine" 
			targetID="jp.go.aist.rtm.systemeditor.ui.editor.SystemDiagramEditor">
			<visibility>
				<objectClass name="java.lang.Object"/>
			</visibility>
			<action id="jp.go.aist.rtm.systemeditor.ui.action.CombineActionDelegate"
				label="%Create_Composite_Component"
				menubarPath="composite"
				class="jp.go.aist.rtm.systemeditor.ui.action.CombineActionDelegate">
			</action>
		</viewerContribution>
  <viewerContribution
        id="jp.go.aist.rtm.systemeditor.ui.editor.OfflineSystemDiagramEditor.deploy"
        targetID="jp.go.aist.rtm.systemeditor.ui.editor.OfflineSystemDiagramEditor">
     <action
           class="jp.go.aist.rtm.systemeditor.ui.action.DeployLoadActionDelegate"
           id="jp.go.aist.rtm.systemeditor.ui.action.DeployLoadActionDelegate"
           label="%Deploy_Load"
           menubarPath="deploy">
     </action>
     <action
           class="jp.go.aist.rtm.systemeditor.ui.action.DeploySaveActionDelegate"
           id="jp.go.aist.rtm.systemeditor.ui.action.DeploySaveActionDelegate"
           label="%Deploy_Save"
           menubarPath="deploy">
     </action>
     <action
           class="jp.go.aist.rtm.systemeditor.ui.action.DeployActionDelegate"
           id="jp.go.aist.rtm.systemeditor.ui.action.DeployActionDelegate"
           label="%Deploy_System"
           menubarPath="deploy">
     </action>
  </viewerContribution>
		<viewerContribution
			id="jp.go.aist.rtm.systemeditor.ui.editor.OfflineSystemDiagramEditor.combine" 
			targetID="jp.go.aist.rtm.systemeditor.ui.editor.OfflineSystemDiagramEditor">
			<visibility>
				<objectClass name="java.lang.Object"/>
			</visibility>
			<action id="jp.go.aist.rtm.systemeditor.ui.action.CombineActionDelegate"
				label="%Create_Composite_Component"
				menubarPath="composite"
				class="jp.go.aist.rtm.systemeditor.ui.action.CombineActionDelegate">
			</action>
		   <action
		         class="jp.go.aist.rtm.systemeditor.ui.action.DeploySettingActionDelegate"
		         id="jp.go.aist.rtm.systemeditor.ui.action.DeploySettingActionDelegate"
		         label="%Set_Deploy_Info"
		         menubarPath="deploy">
		   </action>
		</viewerContribution>
		<!--
		<viewerContribution
			id="jp.go.aist.rtm.systemeditor.ui.editor.OfflineSystemDiagramEditor.Refresh" 
			targetID="jp.go.aist.rtm.systemeditor.ui.editor.OfflineSystemDiagramEditor">
			<action id="jp.go.aist.rtm.systemeditor.ui.action.AllComponentActionDelegate.AllStop" 
				label="Refresh Offline System Editor" 
				menubarPath="all" 
				icon="icons/Refresh.png"
				class="jp.go.aist.rtm.systemeditor.ui.editor.action.RefreshOfflineSystemDiagramEditorAction"> 
			</action>
		</viewerContribution>
		-->
	  
 		<objectContribution
			id="jp.go.aist.rtm.systemeditor.ui.objectContribution.Component"
        	objectClass="jp.go.aist.rtm.toolscommon.model.component.Component"
        	adaptable="true">
        	<visibility>
				<objectClass name="jp.go.aist.rtm.toolscommon.model.component.CorbaComponent"/>
			</visibility>
			<action id="jp.go.aist.rtm.systemeditor.ui.action.IComponentActionDelegate.Exit"
				label="%Exit"
				menubarPath="component"
				class="jp.go.aist.rtm.systemeditor.ui.action.IComponentActionDelegate">
			</action>
			<action id="jp.go.aist.rtm.systemeditor.ui.action.IComponentActionDelegate.Reset"
				label="%Reset"
				menubarPath="component"
				class="jp.go.aist.rtm.systemeditor.ui.action.IComponentActionDelegate">
			</action>
			<action id="jp.go.aist.rtm.systemeditor.ui.action.IComponentActionDelegate.Deactivate"
				label="%Deactivate"
				menubarPath="component"
				definitionId="jp.go.aist.rtm.systemeditor.ui.action.IComponentActionDelegate.Deactivate"
				class="jp.go.aist.rtm.systemeditor.ui.action.IComponentActionDelegate">
			</action>
			<action id="jp.go.aist.rtm.systemeditor.ui.action.IComponentActionDelegate.Activate"
				label="%Activate"
				menubarPath="component"
				definitionId="jp.go.aist.rtm.systemeditor.ui.action.IComponentActionDelegate.Activate"
				class="jp.go.aist.rtm.systemeditor.ui.action.IComponentActionDelegate">
			</action>
			<action id="jp.go.aist.rtm.systemeditor.ui.action.IComponentActionDelegate.executioncontext.Stop"
				label="%Stop"
				menubarPath="executionContext"
				class="jp.go.aist.rtm.systemeditor.ui.action.IComponentActionDelegate">
			</action>
			<action id="jp.go.aist.rtm.systemeditor.ui.action.IComponentActionDelegate.executioncontext.Start"
				label="%Start"
				menubarPath="executionContext"
				class="jp.go.aist.rtm.systemeditor.ui.action.IComponentActionDelegate">
			</action>
		</objectContribution>
		<objectContribution
			id="jp.go.aist.rtm.systemeditor.ui.objectContribution.Component"
        	objectClass="jp.go.aist.rtm.systemeditor.ui.editor.editpart.ComponentEditPart"
			adaptable="true">
			<action id="jp.go.aist.rtm.systemeditor.ui.action.DecomposeComponentAction"
				label="%Decompose_Composite_Component"
				enablesFor="1"
				menubarPath="composite"
				class="jp.go.aist.rtm.systemeditor.ui.action.DecomposeComponentFormPopupMenuActionDelegate">
			</action>
		</objectContribution>
		<objectContribution
			id="jp.go.aist.rtm.systemeditor.ui.objectContribution.Component"
        	objectClass="jp.go.aist.rtm.systemeditor.ui.editor.editpart.ComponentEditPart"
			adaptable="true">
			<action id="jp.go.aist.rtm.systemeditor.ui.action.OpenCompositeComponentAction"
				label="%Open_With_System_Diagram_Editor"
				enablesFor="1"
				menubarPath="composite"
				class="jp.go.aist.rtm.systemeditor.ui.action.OpenCompositeComponentFormPopupMenuActionDelegate">
			</action>
		</objectContribution>
		  <objectContribution
		        adaptable="true"
		        id="jp.go.aist.rtm.systemeditor.ui.objectContribution.Component"
		        objectClass="jp.go.aist.rtm.systemeditor.ui.editor.editpart.PortEditPart">
		     <action
		           class="jp.go.aist.rtm.systemeditor.ui.action.AllDisconnectPopupMenuActionDelegate"
		           id="jp.go.aist.rtm.systemeditor.ui.action.AllDisconnectAction"
		           label="%All_Disconnect">
		     </action>
		  </objectContribution>
		  <objectContribution
		        adaptable="true"
		        id="jp.go.aist.rtm.systemeditor.ui.objectContribution.Component"
		        objectClass="jp.go.aist.rtm.systemeditor.ui.editor.editpart.PortEditPart">
		     <action
		           class="jp.go.aist.rtm.systemeditor.ui.action.ExportPortPopupMenuActionDelegate"
		           id="jp.go.aist.rtm.systemeditor.ui.action.ExportPortAction"
		           label="%Export">
		     </action>
		  </objectContribution>
		<objectContribution
			adaptable="true"
			id="jp.go.aist.rtm.systemeditor.ui.objectContribution.Component"
			objectClass="jp.go.aist.rtm.systemeditor.ui.editor.editpart.ComponentEditPart">
			<action
				class="jp.go.aist.rtm.systemeditor.ui.action.StartLoggingActionDelegate"
				id="jp.go.aist.rtm.systemeditor.ui.action.StartLoggingAction"
				label="%StartLogging.label"
				enablesFor="1"
				menubarPath="additions">
			</action>
		</objectContribution>
		<objectContribution
			adaptable="true"
			id="jp.go.aist.rtm.systemeditor.ui.objectContribution.Component"
			objectClass="jp.go.aist.rtm.systemeditor.ui.editor.editpart.PortEditPart">
			<action
				class="jp.go.aist.rtm.systemeditor.ui.action.ConnectPortActionDelegate"
				id="jp.go.aist.rtm.systemeditor.ui.action.ConnectPortActionDelegate.Disconnect"
				label="%DisconnectPort.label">
			</action>
			<action
				class="jp.go.aist.rtm.systemeditor.ui.action.ConnectPortActionDelegate"
				id="jp.go.aist.rtm.systemeditor.ui.action.ConnectPortActionDelegate.Connect"
				label="%ConnectPort.label">
			</action>
		</objectContribution>
	</extension>

	<extension point = "org.eclipse.ui.actionSets"> 
		<actionSet
			id="jp.go.aist.rtm.systemeditor.ui.actionSet" 
			label="%RT_System_Editor_Actions"> 
			<action
				id="jp.go.aist.rtm.systemeditor.ui.action.NewOfflineSystemDiagramEditorAction" 
				label="%Open_New_Offline_System_Editor"
				menubarPath="file/RTSEGroup" 
				toolbarPath="RTSE"
				icon="icons/off.png" 
				tooltip="%Open_New_Offline_System_Editor_Label" 
				class="jp.go.aist.rtm.systemeditor.ui.action.NewOfflineSystemDiagramEditorAction"> 
			</action>
			<action
				id="jp.go.aist.rtm.systemeditor.ui.action.NewSystemDiagramEditorAction" 
				label="%Open_New_System_Editor"
				menubarPath="file/RTSEGroup" 
				toolbarPath="RTSE"
				icon="icons/on.png" 
				tooltip="%Open_New_System_Editor_Label" 
				class="jp.go.aist.rtm.systemeditor.ui.action.NewSystemDiagramEditorAction"> 
			</action>
			
			<action
				id="jp.go.aist.rtm.systemeditor.ui.action.AboutAction" 
				label="%About_RT_System_Editor"
				menubarPath="help/"
				icon="icons/RT.png"
				tooltip="%About_RT_System_Editor_Label" 
				class="jp.go.aist.rtm.systemeditor.ui.action.AboutAction"> 
			</action>
		</actionSet>
	</extension>

	<extension
		point="org.eclipse.ui.commands">
		<category
			id="jp.go.aist.rtm.systemeditor.command.category"
			name="%RT_System_Editor">
		</category>
		<command
			categoryId="jp.go.aist.rtm.systemeditor.command.category"
			id="jp.go.aist.rtm.systemeditor.ui.action.IComponentActionDelegate.Activate"
			name="%Activate">
		</command>
		<command
			categoryId="jp.go.aist.rtm.systemeditor.command.category"
			id="jp.go.aist.rtm.systemeditor.ui.action.IComponentActionDelegate.Deactivate"
			name="%Deactivate">
		</command>
	</extension>

	<extension
		point="org.eclipse.ui.bindings">
		<key
			commandId="jp.go.aist.rtm.systemeditor.ui.action.IComponentActionDelegate.Activate"
			contextId="org.eclipse.ui.contexts.window"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="M1+M3+A">
		</key>
		<key
			commandId="jp.go.aist.rtm.systemeditor.ui.action.IComponentActionDelegate.Deactivate"
			contextId="org.eclipse.ui.contexts.window"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="M1+M3+D">
		</key>
	</extension>

	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="jp.go.aist.rtm.systemeditor.ui.action.IComponentActionHandler"
			commandId="jp.go.aist.rtm.systemeditor.ui.action.IComponentActionDelegate.Activate">
		</handler>
		<handler
			class="jp.go.aist.rtm.systemeditor.ui.action.IComponentActionHandler"
			commandId="jp.go.aist.rtm.systemeditor.ui.action.IComponentActionDelegate.Deactivate">
		</handler>
	</extension>

	<extension
		point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension
			targetID="jp.go.aist.rtm.systemeditor.ui.perspective.RtcLinkPerspective">
			<actionSet id="jp.go.aist.rtm.nameserviceview.ui.actionSet"/>
			<actionSet id="jp.go.aist.rtm.systemeditor.ui.actionSet"/>
			<view
				ratio="0.2"
				relative="org.eclipse.ui.editorss"
				relationship="left"
				id="jp.go.aist.rtm.nameserviceview.ui.views.nameserviceview.NameServiceView">
			</view>
			<view
				relative="jp.go.aist.rtm.nameserviceview.ui.views.nameserviceview.NameServiceView"
				relationship="stack"
				id="jp.go.aist.rtm.repositoryView.view">
			</view>
			<view
				ratio="0.7"
				relative="org.eclipse.ui.editorss"
				relationship="right"
				id="org.eclipse.ui.views.PropertySheet">
			</view>
			<view
				ratio="0.6"
				relative="org.eclipse.ui.editorss"
				relationship="bottom"
				id="jp.go.aist.rtm.systemeditor.ui.views.configurationview.ConfigurationView">
			</view>
			<view
				id="jp.go.aist.rtm.systemeditor.ui.views.managercontrolview.ManagerControlView"
				relationship="stack"
				relative="jp.go.aist.rtm.systemeditor.ui.views.configurationview.ConfigurationView">
			</view>
 			<view
				id="jp.go.aist.rtm.systemeditor.ui.views.compositecomponentview.CompositeComponentView"
				relationship="stack"
				relative="jp.go.aist.rtm.systemeditor.ui.views.configurationview.ConfigurationView">
			</view>
 			<view
				id="jp.go.aist.rtm.systemeditor.ui.views.executioncontextview.ExecutionContextView"
				relationship="stack"
				relative="jp.go.aist.rtm.systemeditor.ui.views.configurationview.ConfigurationView">
			</view>
			<view
				id="jp.go.aist.rtm.systemeditor.ui.views.logview.LogView"
				relationship="stack"
				relative="jp.go.aist.rtm.systemeditor.ui.views.configurationview.ConfigurationView">
			</view>
			<viewShortcut id="jp.go.aist.rtm.nameserviceview.ui.views.nameserviceview.NameServiceView"/>
			<viewShortcut id="jp.go.aist.rtm.systemeditor.ui.views.configurationview.ConfigurationView"/>
			<viewShortcut id="jp.go.aist.rtm.systemeditor.ui.views.managercontrolview.ManagerControlView"/>
			<viewShortcut id="jp.go.aist.rtm.systemeditor.ui.views.compositecomponentview.CompositeComponentView"/>
			<viewShortcut id="jp.go.aist.rtm.systemeditor.ui.views.executioncontextview.ExecutionContextView"/>
			<viewShortcut id="jp.go.aist.rtm.systemeditor.ui.views.logview.LogView"/>
		</perspectiveExtension>
	</extension>
	
	<extension
		point = "org.eclipse.ui.preferencePages">
		<page
			id="jp.go.aist.rtm.systemeditor.ui.preference.MainPreferencePage"
			class="jp.go.aist.rtm.systemeditor.ui.preference.MainPreferencePage"
			name="%RT_System_Editor">
		</page>
		<page
			id="jp.go.aist.rtm.systemeditor.ui.preference.SystemEditorPreferencePage"
			class="jp.go.aist.rtm.systemeditor.ui.preference.SystemEditorPreferencePage"
			name="%Connection"
			category="jp.go.aist.rtm.systemeditor.ui.preference.MainPreferencePage">
		</page>
		<page
			id="jp.go.aist.rtm.systemeditor.ui.preference.ColorPreferencePage"
			class="jp.go.aist.rtm.systemeditor.ui.preference.ColorPreferencePage"
			name="%DisplayColor"
			category="jp.go.aist.rtm.systemeditor.ui.preference.MainPreferencePage">
		</page>
		<page
			id="jp.go.aist.rtm.systemeditor.ui.preference.IconPreferencePage"
			class="jp.go.aist.rtm.systemeditor.ui.preference.IconPreferencePage"
			name="%IconPreference.name"
			category="jp.go.aist.rtm.systemeditor.ui.preference.MainPreferencePage">
		</page>
		<page
			id="jp.go.aist.rtm.systemeditor.ui.preference.OfflineEditorPreferencePage"
			class="jp.go.aist.rtm.systemeditor.ui.preference.OfflineEditorPreferencePage"
			name="%OfflineEditor"
			category="jp.go.aist.rtm.systemeditor.ui.preference.MainPreferencePage">
		</page>
		<page
			id="jp.go.aist.rtm.systemeditor.ui.preference.OnlineEditorPreferencePage"
			class="jp.go.aist.rtm.systemeditor.ui.preference.OnlineEditorPreferencePage"
			name="%OnlineEditor"
			category="jp.go.aist.rtm.systemeditor.ui.preference.MainPreferencePage">
		</page>
	</extension>
	
   <extension 
      point = "org.eclipse.emf.ecore.extension_parser">
      <parser 
      		type="xml" 
      		class="org.eclipse.emf.ecore.xmi.impl.XMLResourceFactoryImpl"/>
   </extension>

	<extension point="jp.go.aist.rtm.toolscommon.openViews">
		<view class="jp.go.aist.rtm.toolscommon.model.component.Component" view_id="jp.go.aist.rtm.systemeditor.ui.views.configurationview.ConfigurationView"/>
		<view class="jp.go.aist.rtm.toolscommon.model.component.Component" view_id="jp.go.aist.rtm.systemeditor.ui.views.compositecomponentview.CompositeComponentView" kind="composite"/>
		<view class="jp.go.aist.rtm.toolscommon.model.manager.RTCManager" view_id="jp.go.aist.rtm.systemeditor.ui.views.managercontrolview.ManagerControlView"/>
	</extension>

	<extension
		point="jp.go.aist.rtm.toolscommon.loadcomponent">
		<loadComponent extensionclass="jp.go.aist.rtm.systemeditor.extension.RTSELoadComponentExtension"/>
	</extension>

</plugin>

