<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications"
         name="%appName">
      <application>
         <run
               class="jp.go.aist.rtm.systemeditor.rcp.SystemEditorApplication">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="jp.go.aist.rtm.systemeditor.RCP.application"
            name="%productName">
         <property
               name="windowImages"
               value="icons/RTM_logoL.gif"/>
         <property
               name="aboutText"
               value="%aboutText"/>
         <property
               name="aboutImage"
               value="icons/RTM_logo.gif"/>
         <property
               name="startupForegroundColor"
               value="000000"/>
         <property
               name="startupProgressRect"
               value="0,0,0,0"/>
         <property
               name="startupMessageRect"
               value="0,0,0,0"/>
         <property
               name="appName"
               value="%productName">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

<!--	<extension point = "org.eclipse.ui.actionSets"> 
		<actionSet
			id="jp.go.aist.rtm.systemeditor.RCP.ui.actionSet" 
			label="RT System Editor Actions">
   <menu
         id="SystemEditor_File"
         label="&amp;File">
      <separator name="extent"/>
   </menu> 
			<action
         class="jp.go.aist.rtm.systemeditor.ui.action.NewOfflineSystemDiagramEditorAction"
         icon="icons/off.png"
         id="jp.go.aist.rtm.systemeditor.RCP.ui.action.NewOfflineSystemDiagramEditorAction"
         label="&amp;Open New Offline System Editor"
         menubarPath="SystemEditor_File/extent"
         tooltip="Open New Offline System Editor"> 
			</action>
			<action
         class="jp.go.aist.rtm.systemeditor.ui.action.NewSystemDiagramEditorAction"
         icon="icons/on.png"
         id="jp.go.aist.rtm.systemeditor.RCP.ui.action.NewSystemDiagramEditorAction"
         label="&amp;Open New System Editor"
         menubarPath="SystemEditor_File"
         tooltip="Open New System Editor"> 
			</action>
			
		</actionSet>
	</extension> -->
<!-- <extension
       point="org.eclipse.ui.actionSets">
    <actionSet
          id="jp.go.aist.rtm.systemeditor.RCP.update"
          label="Software Update">
       <action
             class="org.eclipse.ui.internal.ide.update.InstallWizardAction"
             id="jp.go.aist.rtm.systemeditor.RCP.action.SoftwareUpdateAction"
             label="Software Update"
             menubarPath="SystemEditor_Help/additions"
             style="push"/>
    </actionSet>
 </extension>-->

</plugin>
